<div class="card-footer   bg-dark ">

        <div class="container ">
          <div class="col">
              <a href="#"><i class="fa fa-map-marker pr-2"></i>New York, 94126, USA</a>
          </div>
          <div class="col">         
             <a href="#"><i class="fa fa-phone pr-2"></i>+ 01 234 567 89</a>
          </div>
          <div class="col">
              <a href="#"  ><i class="fa fa-envelope pr-2"></i>contact@example.com</a>
          </div>
           </div>     
      </div>     

